/*
Nav Bar
 */
.navbar {
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.logo {
    font-size: 1rem;
    margin-right: auto; /* Pushes the logo to the left */
}

.nav-links {
    list-style: none;
    display: flex;
}

li{
    color: white;
    list-style: none;
}

input{
    background-color: #b0a8a8;
}

.nav-links li {
    color: white;
    margin-right: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login {
    padding: inherit;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #3ba7f5; /* Change color on hover */
}

.login:hover {
    color: #3ba7f5; /* Change color on hover */
}

.close:hover {
    background-color: white;
    color: #3498db;
}

/* login window
 */
.popup-container {
    text-align: left;
}

.popup {
    right: 0%;
    top: 110px;
    background: #545454;
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

    /* Add transition properties */
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.popup.open {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

/*
Calender
 */

 #calendar {
    display: flex;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    flex-direction: column;
    align-items: left; /* Center the content horizontally */
  }
  
  #calendar-controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: column; /* Stack the month selection on top of the calendar grid */
    align-items: flex-start; /* Center the month selection horizontally */
    margin-bottom: 20px; /* Add some spacing between the month selection and calendar */
  }
  

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    max-width: 30%; /* Set a max width for the grid container */
}

.grid-item {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

body{
    background-color: #6d6d6d;
}